<app-header></app-header>
<p class="text-center fs-3 m-4">طلبات الانضمام للجمعية / مؤسسة</p>
<table class="table table-info w-75 m-auto">
    <thead class="text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">1</th>
        <td>Ahd Mohamed</td>
        <td>Ahd.mohamed@gmail.com</td>
        <td> <button mat-raised-button color="primary" class="m-1">Approve</button> <button mat-raised-button color="warn" class="m-1">Delete</button> </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mohamed ADel</td>
        <td>Mohamed.Adel@gmail.com</td>
        <td> <button mat-raised-button color="primary" class="m-1">Approve</button> <button mat-raised-button color="warn" class="m-1">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Omar Akl</td>
        <td>Omar.Akl@gmail.com</td>
        <td><button mat-raised-button color="primary" class="m-1">Approve</button> <button mat-raised-button color="warn" class="m-1">Delete</button> </td>
      </tr>
    </tbody>
  </table>

