<app-header></app-header>
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="m-3">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="save">Save</mat-button-toggle>
            <mat-button-toggle value="save_and_add">Save & Add Another</mat-button-toggle>
            <mat-button-toggle value="cancel" routerLink="/list/donors" aria->Cancel</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="form m-3">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Phone </mat-label>
            <input matInput placeholder="" type="number">
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-100" (click)="input.click()">Upload Attachment</button>
        <input type="file" hidden multiple #input>
    </div>
</div>
